@{
    ViewBag.Title = "Početna";
}
<head>
    <style>
        .pocentaBtn {
            color: black;
            font-size: 16px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>

<div class="jumbotron" style="text-align:center; width:95%; height: 50%;">
    <img src="~/Content/slika/skyorde_logo.png" style="width:100%">
    <button class="pocentaBtn">@Html.ActionLink("Naruči", "Restorani")</button>
</div>

<div style="text-align:center">

</div>